@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+QLD+Hand:wght@400..700&display=swap');

#data111 {
    font-family: "Dancing Script", cursive;
    font-size: 48px;
    text-align: center;
} 

@font-face {
    font-family:'adamiani';
    src: url('../fonts/adamiani.ttf');
}

@font-face {
    font-family: 'aladini';
    src: url('../fonts/aladini.ttf');
}

@font-face {
    font-family: 'unicode_3d';
    src: url('../fonts/3d_unicode.ttf');
}

#data222 {
    font-family: 'unicode_3d', cursive;
    font-size: 48px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}